@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
    
}



/* ========banner start===============*/
.banner{
    height: 500px;
    position: relative;
    width: 100%;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);
}
.banner img{
    width: 100%;
    height: 550px;
}
.banner h1{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: big john;
    color: #fff;
    text-shadow: 0 2px 20px #000;
    font-size: 80px;
    text-align: center;
}
.banner span{
    font-size: 40px;
}

/* ==================header-extradiv ============================= */
.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}
.extra-div h4{
    font-size: 0.9rem;
    margin: 10px 0 10px 0;
    font-weight: bold;
    word-spacing: 4px;
}
.extra-div{
    background: #fff;
    border: medium none;
    padding: 5px !important;
    border-radius: 3px;
    transition: 0.3s;
    text-align: center;
}
.extra-div:hover{
    box-sizing: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}
.container {
    box-sizing: 0 0 20px 0 rgba(0,0,0,0.3);
}
/* ========banner end===============*/
/* ========container start===============*/
.container{
    align-items: center;
    background: rgb(244, 247, 246);
}
h3{
    text-align: center;
    padding-top: 2em;
}
p{
    text-align: center;
   }
.container img{
    width: 250px;
    height: auto;
   
    max-width: 100%;
} 
/* ========container end===============*/
/* ========container img start==============*/
.lightbox-gallery {
    background-image: linear-gradient(#4A148C, #E53935);
    background-repeat: no-repeat;
    color: #000;
    overflow-x: hidden
}

.lightbox-gallery p {
    color: #fff
}

.lightbox-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: #fff
}

@media (max-width:767px) {
    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.lightbox-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px
}

.lightbox-gallery .intro p {
    margin-bottom: 0
}

.lightbox-gallery .photos {
    padding-bottom: 20px
}

.lightbox-gallery .item {
    padding-bottom: 30px
}
/* ========container img end==============*/
